@import url(../../color.module.css);

.container_profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    margin-right: 1.25vw;
    background-color: white;
    border-radius: 50px;
    cursor: pointer; 
    padding: 1vw 2vh ;
}

.profile_avatar {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.defaultAvatar {
    width: 20vw;
    height: 37vh;
}

.contactTitle {
    margin-left: 10px;
}
.wrapper_profileData{
}

.button_profileData {
    color: var(--color-dark-gray);
    background-color: var(--color-gray);
    border-color: var(--color-gray);      
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px;
}
