@import url("../../color.module.css");

/* desktop */
.modal {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.modal_content {
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}


.chatIcon__mobile {
  display: none;
}

/* tablet */
@media screen and (max-width: 1024px) {

}

/* phone */
@media screen and (max-width: 768px) {
  .chatIcon__mobile {
    display: block;
    color: var(--color-dark-gray);
    font-size: 2em;
  }

  .chatButton {
    display: none;
  }
}