@import url(../../color.module.css);

.profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    margin-right: 1.25vw;
    margin-top: 20vh;
    border-radius: 50px;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.leftContainer {
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    position: relative;
    width: auto;
}

.photoWrapper{
    width: 20vw;
    height: 40vh;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoUploadContainer {
    position: absolute;
    top: 0%;
    right: 0%;
}

.cameraOutlander {
    color: #f35304;
}

.cameraOutlander:hover {
    
    color: gray;
}

/* rightContainer */

.notebookPage {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: var(--color-gray);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    padding: 10px;
}


.containerEditMode {
    display: flex;
    justify-content: flex-end;
}

.text {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textKey{
 
}

.textValue {
    margin-left: 5px;
}

p{
    margin: 0px;
}

@media only screen and (min-width: 1600px) {
    
}