@import url(../../color.module.css);

.profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 80vw;
    border-radius: 50px;
    margin-top: 30px;
}

/* firstContainer */
.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin-right: 40px;
}

.photoContainer {
    flex-direction: column;
    position: relative;
    align-items: start;
    width: auto;
}

.photoWrapper{
    background-color: white;
    padding: 15px;
    width: 15vw;
    height: 30vh;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadLabel {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.cameraOutlander {
    color: #f35304;
}

.cameraOutlander:hover {
    
    color: gray;
}


/* secondContainer */

.secondContainer {
    width: 80%;
}

.statusContainer{
    display: flex;
    align-items: center;
    height: fit-content;
    width: 60vw;
    background-color: white;
    border: 1px solid var(--color-gray);
    box-shadow: 0px 0px 1px 1px var(--color-dark-gray);
    border-radius: 20px;
}

.statusCardContainer {
    display: flex;
    justify-content: center;
} 

.statusCard {
    width: 100%;
}

.textStatus {
    margin: 0 20px 0 20px;
    opacity: 0.7;
}



@media only screen and (min-width: 1600px) {
    
}