@import url(../../color.module.css);

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    margin-right: 1.25vw;
    
    border-radius: 50px;
}

/* topLevel */
.topLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.container {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* leftContainer */
.photoContainer {
    flex-direction: column;
    position: relative;
    align-items: start;
    width: auto;
}

.photoWrapper{
    background-color: white;
    padding: 15px;
    width: 10vw;
    height: 20vh;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadLabel {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.cameraOutlander {
    color: #f35304;
}

.cameraOutlander:hover {
    
    color: gray;
}


/* rightContainer */

.statusContainer{
    display: flex;
    align-items: center;
    height: fit-content;
    width: 60vw;
    background-color: white;
    border: 1px solid var(--color-gray);
    box-shadow: 0px 0px 1px 1px var(--color-dark-gray);
    border-radius: 20px;
}

/* status */

.textStatus {
    margin: 0 20px 0 20px;
    opacity: 0.7;
}

.info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (min-width: 1600px) {
    
}