.chat-container {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 400px;
  height: 500px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.chatBody {
  padding: 10px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

.open-chat-button {
  background: none;
  border: none;
  background-color: rgb(250, 249, 249);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: #ddd;
}

.addMessages {

  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 36px;
  width:400px;
  background-color: white;
  right: 30px;
}



.addMessages-textarea {
  display: flex;
  align-content: center;
  width: 100%
}

textarea {
  width: 100%;
  
}

.buttons {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}