.header {
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.cotainer {
    margin-left: 9vw;
    margin-right: 9vw;
    height: 111px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.header__logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 70px;
    max-height: 70px;
}

.logo {
    width: 100%;
    height: 100%;
}

.open_chat__button {
    background-color:#001529;
    border-color: aliceblue;
}

.open_chat__button:hover {
    background-color: darkgreen;
    /* alte stiluri pentru hover */
  }

.close_chat__button {
    background-color:#2e4c68;
    border-color: aliceblue;
}

.chat_button__hover:hover {
    background-color: darkred;
    /* alte stiluri pentru hover */

}
