    @import url("../../color.module.css");

    .header {
        background-color: var(--color-black);
        display: flex;
        justify-content: space-between;
    }

    .container {
        margin-left: 9vw;
        margin-right: 9vw;
        height: 111px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
    }
    .header__logo_wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 163px;
    }

    .header__logo {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0px;
        color: var(--color-blue);
        text-shadow: -4px 4px rgba(161, 89, 170, 0.5);
        display: flex;
        align-items: center;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    .header__buttons_wrapper{
        display: flex;
        max-width: 305px;
        width: 22vw;
        align-items: center;
        justify-content: space-between;

    }

    .header__buttons {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
    }

    .button__logout {
        color: var(--color-violet-white);
        background: linear-gradient(-45deg, var(--color-blue-white-opacity25) 0%, var(--color-violet-opacity40) 100%);
        box-shadow: 2px 2px 10px var(--color-violet-opacity50);
        border-radius: 5px;
        cursor: pointer; 
        padding: 5px;
    }

    .open_chat__button {
        background-color:var();
        border-color: aliceblue;
    }

    .open_chat__button:hover {
        background-color: darkgreen;
        /* alte stiluri pentru hover */
    }

    .close_chat__button {
        background-color:#2e4c68;
        border-color: aliceblue;
    }

    .chat_button__hover:hover {
        background-color: darkred;
        /* alte stiluri pentru hover */

    }
