.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editModeButton {
    display: flex;
    justify-content: flex-end;
}

.infoCards { 
    display: flex;
    justify-content: space-between;
}

.firstCard {
    width: 50%;
}

.secondCard {
    width: 50%;
}

p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 45px;
}

/* Responsive */

/* Large Laptops / Desktop */

@media (max-width: 1600px) {}

/* Tablets / Small Laptops */
@media (max-width: 1200px) {
    
}

/* Large Phones / Small Tablets */
@media (max-width: 992px) {}

/* Medium phones */
@media (max-width: 768px) {
    .container {
        margin-top: 10px;
    }
    
}

/* Small phones */
@media (max-width: 576px) {}