.posts {
    background-color: white;
    margin-bottom: 30px;
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
}

.posts__name {
    color: blue;
    text-decoration: underline;
}
.posts__post {
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}