span {
    cursor: pointer;
}

.photos {
    height: 300px;
    width: 100%;
}

/* User */
.container {}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.card {
    background: var(--color-gray);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}



@media (max-width: 890px) {
    .gridContainer {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 540px) {
    .gridContainer {

        grid-template-columns: repeat(1, 1fr);

    }
}

