@import url(./color.module.css);

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

.sideMenu_wrapper {
  background: var(--color-gray); 
  height: 100%; 
  padding: 20px;

}

.content {  
display: flex;
align-items: flex-start;
justify-content: center;
margin-top: 100px;
}

.active {
  background-color: var(--color-dark-gray);
  color: black;
}

.link:hover {
  background-color: var(--color-dark-gray);

}


.link:visited {
  background-color: var(--color-dark-gray);

}


.a {
    border: solid, 2px;

}

/* Responsive */

/* Large Laptops / Desktop */

@media (max-width: 1600px) {}

/* Tablets / Small Laptops */
@media (max-width: 1200px) {

}

/* Large Phones / Small Tablets */
@media (max-width: 992px) {}

/* Medium phones */
@media (max-width: 768px) {

  .content {
    margin-top: 50px;
  }

}

/* Small phones */
@media (max-width: 576px) {}