@import url(./color.module.css);

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

.sideMenu_wrapper {
  background: var(--color-gray); 
  height: 100%; 
  padding: 20px;

}

.content {  
display: flex;
align-items: center;
justify-content: center;
min-height: 90vh;

}

.active {
  background-color: var(--color-dark-gray);
  color: black;
}

.link:hover {
  background-color: var(--color-dark-gray);

}


.link:visited {
  background-color: var(--color-dark-gray);

}


.a {
    border: solid, 2px;

}