.formControl {
display: flex;
flex-direction: row;
}

.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    border: solid red 2px;
    
}

.formSummaryError 
{
border: 1px red solid;
padding: 5px;
color: rosybrown;
}